html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  background-color: seashell;
}

header {
  padding: 0 2em;
  background-color: seagreen;
}

h1 {
  margin: 0;
  padding: 1em;
  color: seashell;
}

h2 {
  text-transform: capitalize;
  width: 80%;
}

main {
  display: flex;
  justify-content: space-between;
}

section {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

.item-header {
  margin: 1em 10%;
}

p {
  width: 80%;
  margin: auto 10%;
}

a {
  color: seagreen;
}
