html {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0;
  background-color: white;
}

header {
  padding: 0;
  background-color: seagreen;
  display: flex;
}

.nav-padder {
  margin-left: auto;
}

.nav-button {
  height: 100%;
  margin: auto 2rem;
  border: none;
  background-color: seagreen;
  color: seashell;
  font-size: 1rem;
}
.nav-button:hover {
  color: darkolivegreen;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 1em;
  color: seashell;
}

h2 {
  text-transform: capitalize;
  width: 80%;
  margin: 0;
}

main {
  max-width: 700px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

section {
  background-color: seashell;
  margin: 2rem;
  width: 100%;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  text-transform: capitalize;
}

a {
  color: seagreen;
}

.text-input {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.textarea-input {
  display: block;
  border-color: lightgray;
  max-width: 100%;
  width: 100%;
  height: 20rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  resize: none;
}

.select-input {
  display: block;
  margin: 0.5rem 0;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.button-input {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
  border: none;
  background-color: lightgray;
}
.button-input:hover {
  background-color: gray;
  cursor: pointer;
}