[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=<user>
Group=www-data
WorkingDirectory=/home/<user>/sites/<domain>
Environment="PATH=/home/<user>/<domain>/venv/bin"
ExecStart=/home/<user>/<domain>/venv/bin/gunicorn\
--workers 3\
--bind unix:/home/<user>/<domain>/catalog.sock -m 007 wsgi\
--access-logfile /home/<user>/<domain>/instance/access.log\
--error-logfile /home/<user>/<domain>/instance/error.log\
--capture-output

[Install]
WantedBy=multi-user.target