<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Catalog App</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <h1>Catalog App</h1>
    <div class="nav-padder"></div>
    {% if session.get('logged_in') %}
      <form class="logout-form" action="{{ url_for('logout') }}" method="POST">
        <button class="nav-button" type="submit">Log Out</button>
      </form>
    {% else %}
      <form class="login-form" action="{{ url_for('login') }}" method="POST">
        <button class="nav-button" type="submit">Log In</button>
      </form>
    {% endif %}
  </header>
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>
