<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Catalog App</title>
  <link href="/static/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/auth.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="{{ google_id }}">
  <meta name="login-url" content="{{ url_for('login', _external=True) }}">
  <meta name="logout-url" content="{{ url_for('logout', _external=True) }}">
  <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
  <header>
    <a class="nav-header" href="{{ url_for('home') }}">Catalog App</a>
    <div class="nav-padder"></div>
    {% if session.get('logged_in') %}
      <button
        id="logout-button"
        class="nav-button"
        type="submit"
      >
        Log Out
      </button>
    {% else %}
      <button
        class="nav-button g-signin2"
        type="submit"
        data-onsuccess="onSignIn"
      >Log In</button>
    {% endif %}
  </header>
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>