{% macro item_form(catagories, csrf_token, values=None, errors=None) -%}
  <form class="item-form" method="POST">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}"/>
    <input
      class="text-input"
      type="text"
      name="name"
      value="{{ values.get('name', '') }}"
    />
    {% if errors %}
      <span class="error">{{ errors['name'] }}</span>
    {% endif %}
    <textarea
      class="textarea-input"
      name="description"
    >{{ values.get('description', '') }}</textarea>
    {% if errors %}
      <span class="error">{{ errors['description'] }}</span>
    {% endif %}
    <select class="select-input" name="catagory">
      {% for catagory in catagories %}
          {% if catagory == values.get('catagory') %}
            <option value="{{ catagory }}" selected>{{ catagory }}</option>
          {% else %}
            <option value="{{ catagory }}">{{ catagory }}</option>
          {% endif %}
      {% endfor %}
    </select>
    {% if errors %}
      <span class="error">{{ errors['catagory'] }}</span>
    {% endif %}
    <button class="button-input" type="submit">Submit</button>
  </form>
{%- endmacro %}
