{% macro item_form(catagories, values=None, errors=None) -%}
  <form class="item-form" method="POST">
    <input
      class="text-input"
      type="text"
      name="name"
      value="{{ values.get('name') }}"
    />
    {% if errors %}
      <span class="error">{{ errors['name'] }}</span>
    {% endif %}
    <textarea
      class="textarea-input"
      name="description"
    >{{ values.get('description') }}</textarea>
    <select class="select-input" name="catagory">
      {% for catagory in catagories %}
          {% if catagory == values.get('catagory') %}
            <option value="{{ catagory }}" selected>{{ catagory }}</option>
          {% else %}
            <option value="{{ catagory }}">{{ catagory }}</option>
          {% endif %}
      {% endfor %}
    </select>
    <button class="button-input" type="submit">Submit</button>
  </form>
{%- endmacro %}
