{% extends "base.html" %}
{% block content %}
  <section>
    <h2>Catagories</h2>
    <ul>
      {% for catagory in Catagory.fetch_all() %}
      <li><a href="{{ url_for('catagory', catagory=catagory.name) }}">{{ catagory.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class="pure-u-1-2">
    {% if session.get('logged_in', False) %}
      <a href="{{ url_for('create_item_page') }}" class="add-item">Add Item</a>
    {% endif %}
    <h2>Latest Items</h2>
    <ul>
      {% for item in Item.fetch_all() %}
      <li>
        <a href="{{ url_for('read_item', item_name=item.name, catagory_name=item.catagory_name) }}">{{ item.name }}</a>
        - {{ item.catagory_name }}
      </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
